h1 {
   color: red;
   font-display: sans-serif;
   background-color: #ccc;
   padding: 72px;
    
}
p{
    color: blue;
    font-display: sans-serif;
    background-color: #ccc;
    padding: 18px;

}
ul{
    inline-size: 72px;
    background-color: #ccc;
}
h2{
    padding: 36px;
}



